@page "/sports"
@inject IStringLocalizer<Sports> localizer

<PageTitle>@localizer["Title"]</PageTitle>

<h1>@localizer["Title"]</h1>

<section data-cy="story-parts-wrapper" class="StoryParts-styles__Section-sc-1ef04cf6-1 ffqSxD">
    <section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm TextBlockPart-styles__TextBlockWrapper-sc-caa5fccf-2 gtWIOR">
        <section data-cy="text-block-container" class="TextBlock-styles__Wrapper-sc-5158715a-0 hnUsRy TextBlockPart-styles__TextBlock-sc-caa5fccf-1 bESJbU text-block">
            <p><strong>The ancient Olympic Games were initially a one-day event until 684 BC, when they were extended to three days. In the 5th century B.C., the Games were extended again to cover five days. The ancient Games included running, long jump, shot put, javelin, boxing, pankration and equestrian events.</strong></p>
            <h2><strong>Pentathlon</strong></h2>
            <p>The Pentathlon became an Olympic sport with the addition of wrestling in 708 B.C., and included the following: Running / Jumping / Discus Throw</p>
            <h2><strong>Running</strong></h2>
            <p>Running contests included:</p>
            <ul>
                <li>the stade race, which was the pre-eminent test of speed, covering the Olympia track from one end to the other (200m foot race),</li>
                <li>the diaulos (two stades - 400m foot race),</li>
                <li>dolichos (ranging between 7 and 24 stades).</li>
            </ul>
        </section>
    </section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm"><section class="OcsImage-styles__OcsImgWrapper-sc-37ca9ae9-0 eDytmC StoryParts-styles__ImagePartWrapper-sc-1ef04cf6-0 kRaBAK"><picture data-cy="picture-wrapper" class="styles__Picture-sc-3cfb7849-0 eZEbUT"><img loading="lazy" alt="Running-1400" class="lazyload" data-src="https://img.olympics.com/images/image/private//f_auto/primary/h9t0vfp94clrpcftk45e" src="https://img.olympics.com/images/image/private//f_auto/primary/h9t0vfp94clrpcftk45e"></picture></section></section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm TextBlockPart-styles__TextBlockWrapper-sc-caa5fccf-2 gtWIOR">
        <section data-cy="text-block-container" class="TextBlock-styles__Wrapper-sc-5158715a-0 hnUsRy TextBlockPart-styles__TextBlock-sc-caa5fccf-1 bESJbU text-block">
            <h2>Jumping</h2>
            <p>Athletes used stone or lead weights called halteres to increase the distance of a jump. They held onto the weights until the end of their flight, and then jettisoned them backwards.</p>
            <h2>Discus throw</h2>
            <p>The discus was originally made of stone and later of iron, lead or bronze. The technique was very similar to today's freestyle discus throw.</p>
        </section>
    </section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm"><section class="OcsImage-styles__OcsImgWrapper-sc-37ca9ae9-0 eDytmC StoryParts-styles__ImagePartWrapper-sc-1ef04cf6-0 kRaBAK"><picture data-cy="picture-wrapper" class="styles__Picture-sc-3cfb7849-0 eZEbUT"><img loading="lazy" alt="Disc-1400" class="lazyload" data-src="https://img.olympics.com/images/image/private//f_auto/primary/wmyiogtfdpjbfr0y0f5n" src="https://img.olympics.com/images/image/private//f_auto/primary/wmyiogtfdpjbfr0y0f5n"></picture></section></section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm TextBlockPart-styles__TextBlockWrapper-sc-caa5fccf-2 gtWIOR">
        <section data-cy="text-block-container" class="TextBlock-styles__Wrapper-sc-5158715a-0 hnUsRy TextBlockPart-styles__TextBlock-sc-caa5fccf-1 bESJbU text-block">
            <h2>Wrestling</h2>
            <p>This was highly valued as a form of military exercise without weapons. It ended only when one of the contestants admitted defeat.</p>
        </section>
    </section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm"><section class="OcsImage-styles__OcsImgWrapper-sc-37ca9ae9-0 eDytmC StoryParts-styles__ImagePartWrapper-sc-1ef04cf6-0 kRaBAK"><picture data-cy="picture-wrapper" class="styles__Picture-sc-3cfb7849-0 eZEbUT"><img loading="lazy" alt="Wrestling-1400" class="lazyload" data-src="https://img.olympics.com/images/image/private//f_auto/primary/kqs3lftv2lvh88icphsg" src="https://img.olympics.com/images/image/private//f_auto/primary/kqs3lftv2lvh88icphsg"></picture></section></section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm TextBlockPart-styles__TextBlockWrapper-sc-caa5fccf-2 gtWIOR">
        <section data-cy="text-block-container" class="TextBlock-styles__Wrapper-sc-5158715a-0 hnUsRy TextBlockPart-styles__TextBlock-sc-caa5fccf-1 bESJbU text-block">
            <h2>Boxing</h2>
            <p>Boxers wrapped straps (himantes) around their hands to strengthen their wrists and steady their fingers. Initially, these straps were soft but, as time progressed, boxers started using hard leather straps, often causing disfigurement of their opponent's face.</p>
        </section>
    </section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm"><section class="OcsImage-styles__OcsImgWrapper-sc-37ca9ae9-0 eDytmC StoryParts-styles__ImagePartWrapper-sc-1ef04cf6-0 kRaBAK"><picture data-cy="picture-wrapper" class="styles__Picture-sc-3cfb7849-0 eZEbUT"><img loading="lazy" alt="Boxing-1400" class="lazyload" data-src="https://img.olympics.com/images/image/private//f_auto/primary/nrlflyfaulfsngoxrxo7" src="https://img.olympics.com/images/image/private//f_auto/primary/nrlflyfaulfsngoxrxo7"></picture></section></section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm TextBlockPart-styles__TextBlockWrapper-sc-caa5fccf-2 gtWIOR">
        <section data-cy="text-block-container" class="TextBlock-styles__Wrapper-sc-5158715a-0 hnUsRy TextBlockPart-styles__TextBlock-sc-caa5fccf-1 bESJbU text-block">
            <h2>Pankration</h2>
            <p>This was a primitive form of martial art combining wrestling and boxing, and was considered to be one of the toughest sports. Greeks believed that it was founded by Theseus when he defeated the fierce Minotaur in the labyrinth.</p>
        </section>
    </section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm"><section class="OcsImage-styles__OcsImgWrapper-sc-37ca9ae9-0 eDytmC StoryParts-styles__ImagePartWrapper-sc-1ef04cf6-0 kRaBAK"><picture data-cy="picture-wrapper" class="styles__Picture-sc-3cfb7849-0 eZEbUT"><img loading="lazy" alt="Pankration-1400" class="lazyload" data-src="https://img.olympics.com/images/image/private//f_auto/primary/wmbvebxos8awzadghmp7" src="https://img.olympics.com/images/image/private//f_auto/primary/wmbvebxos8awzadghmp7"></picture></section></section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm TextBlockPart-styles__TextBlockWrapper-sc-caa5fccf-2 gtWIOR">
        <section data-cy="text-block-container" class="TextBlock-styles__Wrapper-sc-5158715a-0 hnUsRy TextBlockPart-styles__TextBlock-sc-caa5fccf-1 bESJbU text-block">
            <h2>Equestrian events</h2>
            <p>These included horse races and chariot races and took place in the Hippodrome, a wide, flat, open space.</p>
        </section>
    </section><section class="Grid-styles__GridContainer-sc-57f17f60-0 iucwfm"><section class="OcsImage-styles__OcsImgWrapper-sc-37ca9ae9-0 eDytmC StoryParts-styles__ImagePartWrapper-sc-1ef04cf6-0 kRaBAK"><picture data-cy="picture-wrapper" class="styles__Picture-sc-3cfb7849-0 eZEbUT"><img loading="lazy" alt="Equestrian-Events-1400" class="lazyload" data-src="https://img.olympics.com/images/image/private//f_auto/primary/xcih8j6gq6a51b5ltlwz" src="https://img.olympics.com/images/image/private//f_auto/primary/xcih8j6gq6a51b5ltlwz"></picture></section></section>
</section>


@code {

}
